<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DdiYong blog</title>

    <!--main css-->
    <link href="main.css" rel="stylesheet" />

</head>

<body>
    <div class="header">
        헤더
        <div class="date">
            날짜
        </div>
        <div class="logo">
            로고
            <div class="circleB">
                DdiYong
            </div>
        </div>
        <div class="time">
            시간
        </div>
    </div>
    <div class="underHeader">
        <div class="leftSideBar">
            <!--좌측사이드바-->
            <div class="nameCard">이름카드




                <h5 class="card-title">Card title</h5>

                <div class="card">
                    <div class="card-body1">
                        <img src="https://img.icons8.com/color/600/tomcat.png" class="profile" alt="...">
                      <p class="card-text">2003.06.27<br>ENTP<br>박소희희</p>
                    </div>

                  </div>
            
                  <div class="card-body">
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                  </div>










            </div>
            <div class="postButton">글쓰기버튼</div>
            <div class="categoryBar">카테고리바</div>
        </div>
        <div class="main">
            <div class="wireFrame">와이어프레임</div>
            <div class="guestBook">방명록</div>
        </div>







    </div>









    
    <!--
    <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </nav>
    -->
</body>

</html>